#primary *{
    box-sizing: border-box;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400; */
}
#primary h3{
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
}
#primary h4 {
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4b95dd;
}
#primary h5 {
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4b95dd;
}
#primary h6, #primary h6 a{
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #3e97ec;
}
#primary p{
    font-size: 18px;
    color: black;
    line-height: 1.2;
}
@media (max-width: 1300px) {
    #primary *{
        font-size: 16px;
    }
    #primary p{
        font-size: 14px;
        line-height: 1;
    }
}

/* first clean */
.first_clean {
    min-height: 615px;
    height: fit-content;
    position: relative;
    z-index: 1;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    margin: 0 -50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clean_text{
    width: 679px;
    margin-right: 18vw;
    padding: 20px;
    background: #ffffff54;
    -webkit-box-shadow: 0px 0px 24px 12px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 24px 12px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px 12px rgba(255, 255, 255, 0.2);
}
.clean_text p{
    font-family: HelveticaBold, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.4;
    color: white;
}

.why_are_we{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why_are_we_box_r {
    display: flex;
    width: 618px;
    height: 310px;
    margin: 10px;
    justify-content: flex-start;
}
.why_are_we_box_r .why_are_we_text {
    width: 50%;
    margin: 25px;
}
.why_are_we_box_r h5 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    width: 250px;
    margin-bottom: 20px;
}
.why_are_we_box_r p{
    font-size: 16px;
    white-space: normal;
    width: 300px;
    color: rgb(0, 0, 0);
    font-family: HelveticaRegular, Helvetica, Arial, sans-serif;

}
.color_text_white h5, .color_text_white p{
    color: #fff;
}
.why_are_we_box_l {
    display: flex;
    width: 618px;
    height: 310px;
    margin: 10px;
    justify-content: flex-end;
}
.why_are_we_box_l .why_are_we_text {
    width: 50%;
    margin: 25px;
}

.why_are_we_box_l h5 {
    font-size: 24px;
    width: 250px;
    margin-bottom: 20px;
}
.why_are_we_box_l p{
    font-size: 16px;
    white-space: normal;
    width: 300px;
    font-family: HelveticaRegular, Helvetica, Arial, sans-serif;

}



















/* tabs */
.tb_button
{
    font-size: 0;
    text-align: center;
    display: inline-block;
}
.tb_but{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
    border-top: 1px solid #914f97;
    border-left: 1px solid #914f97;
    font-family: HelveticaLight, Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(top, #914f97, #301a31);
    background: linear-gradient(180deg, #914f97 0, #301a31);
    padding: 10px 31px;
    position: relative;
}
.tbb_act{
    text-decoration: none;
    color: #fff;
    background: -webkit-linear-gradient(top, #76cced, #2a66ca);
    background: linear-gradient(180deg, #76cced 0, #2a66ca);
}
.tb_button > .tb_but:first-child {
    border-radius: 25px 0 0 25px;
}
.tb_button > .tb_but:last-child {
    border-radius: 0 25px 25px 0;
}
.tb_cnt {
    display: none;
    min-height: 470px;
}
.tbc_act {
    display: block;
}
.tb_cnt_image {
    float: left;
    width: 100%;
    max-width: 395px;
    padding-top: 10px;
}
.tb_cnt_text {
    float: left;
    width: 100%;
    max-width: 688px;
    text-align: left;
    padding: 80px 20px 50px 0;
}
