.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: dashed 4px;
    border-top: transparent;
    color: white;
    font-weight: 600;
}
#primary *{
    box-sizing: border-box;

}
#primary h3{
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
}
#primary h4 {
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4b95dd;
}
#primary h5 {
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4b95dd;
}
#primary h6, #primary h6 a{
    font-family: HelveticaBlack, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #3e97ec;
}
#primary p{
    font-size: 18px;
    color: black;
    line-height: 1.2;
}
@media (max-width: 1300px) {
    #primary *{
        font-size: 16px;
    }
    #primary p{
        font-size: 14px;
        line-height: 1;
    }
}

/* first clean */
.first_clean {
    min-height: 615px;
    height: fit-content;
    position: relative;
    z-index: 1;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    margin: 0 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clean_text{
    /* width: auto !important; */
}


/* tabs */

.about {
    padding-top: 20px;
    background: #edf0fc;
}








.about_slider .owl-stage{
    padding-top: 5px;
    height: 260px;
}
.slide-two{
	height: 257px !important;
}
.about_item{
    height: fit-content;
}
.about_item img{
    height: 250px;
    object-fit: contain;
}

.about_slider .owl-item{
    width: 190px !important;
}

.about_nav button:hover {
    background-color: #03a9f4;
}
.about_nav button {
    margin: 1px;
    background-color: #fec029;
    width: 45px;
    height: 45px;
    border: 0;
    font-size: 30px;
    color: white;
}
.about_nav{
    display: flex;
    justify-content: flex-end;
}




.direction, .family {
    background: #fff;
    display: flex;
    text-align: center;
    /* width: 1423px; */
    padding: 30px;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direction h4 {
    color: #4b95dd !important;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    font-family: HelveticaBold, Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.direction ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 85%;
}
.direction li {
    display: inline;
    list-style-type: disc;
    font-weight: bold;
    line-height: 1.8;
    position: relative;
    margin-right: 20px;
}

.direction li:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: 5px 0;
    width: 10px;
    height: 10px;
    background-color: #4b95dd;
    border-radius: 50%;
}

.post_page_image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;
}
.one_sert {
    object-fit:cover;
    max-width: 250px;
    height: 200px;
    margin: 15px;
}
.next_img_portfolio{
    display: none;
    z-index: 9999;
    position: fixed;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 16px black;
    color: white;
    width: 70px;
    height: 60px;
    font-size: 60px;
    cursor: pointer;
    background-image: url(../image/angle-right-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .prev_img_portfolio{
    display: none;
    z-index: 9999;
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 16px black;
    color: white;
    width: 70px;
    height: 60px;
    font-size: 60px;
    cursor: pointer;
    background-image: url(../image/angle-left-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;

  }
.next_than_blank{
    display: none;
    z-index: 9999;
    position: fixed;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 16px black;
    color: white;
    width: 70px;
    height: 60px;
    font-size: 60px;
    cursor: pointer;
    background-image: url(../image/angle-right-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .prev_than_blank{
    display: none;
    z-index: 9999;
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 16px black;
    color: white;
    width: 70px;
    height: 60px;
    font-size: 60px;
    cursor: pointer;
    background-image: url(../image/angle-left-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
.sertification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.sertification img {
    width: 183px;
    height: 250px;
    margin: 15px;
}
.images-boxes{
    display: flex;
    justify-content: center;
}

.counter {
    background: url(../img/bg-discount.jpg) 50% no-repeat #e5f6fd;
    background-size: cover;
    height: 610px;
    overflow: hidden;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.count_title {
    color: #fdbf2d;
    font-size: 45px;
    font-weight: 600;
}
.count_text{
    color: #fff !important;
    margin-top: 20px;
    font-size: 20px !important;
}
.count_text p{
    text-align: center;
}

.count_timer_text{
    width: 285px !important;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
}
.count_timer_text p{
    text-align: end;
}



.form_col input{
 width: 285px !important;
 margin: 0 10px;

}
.form_col .submit{
  border-radius: 50px;
  color: white;
  text-shadow: 0px 0px 13px black;
}
.wpcf7-spinner {
  position: absolute !important;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin:0;
  padding:0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 50px auto;
}
.hide,
.hide + label ~ div {
    display: block ;
    height: 0px;
    overflow: hidden;
}
.hide + label, .close_seo_text {
    margin: 0;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
.hide + div > label {
display: none;
}
.hide:checked + label {
display: none;
}
.hide:checked + div > label {
display: block;
}
.hide:checked + label + div {
    height: fit-content; 
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}

@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
