:root {
  --slider_height: 450px;
  --slider_width: 1100px;
}

.slider_photo {
  height: var(--slider_height);
  width: auto;
}

#projects {
  background: #eef0fd;
  width: 100%;
  max-width: 100vw;
  padding: 20px;
}
#projects .projects_info {
  position: relative;
  width: var(--slider_width);
  height: auto;
  margin: 20px auto;
  padding: 10px;
  overflow: hidden;
}
#projects .projects_info #main_carousel_projects {
  width: var(--slider_width);
  position: relative;
  overflow: hidden;
  height: var(--slider_height);
  margin: 5px;
}
#projects .projects_info #main_carousel_projects .owl-carousel {
  max-height: 100%;
  max-width: 100%;
  transition: transform 1s ease;
}
#projects .projects_info #main_carousel_projects .owl-carousel .owl-item {
  max-width: var(--slider_width);
  overflow: hidden;
}
#projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: var(--slider_height);
  width: var(--slider_width);
  overflow: hidden;
  object-fit: cover;
}
#projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_description {
  position: relative;
  width: 300px;
  min-height: 100%;
  height: 100%;
  text-align: left;
  background: white;
  padding: 20px;
}
#projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_photo {
  position: relative;
  flex-grow: 1;
  height: var(--slider_height);
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
}
#projects .projects_info #icons_projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: var(--slider_width);
  margin: 5px;
}
#projects .projects_info #icons_projects .main_photo_project {
  width: calc(100% / 8);
  height: 90px;
  opacity: 0.5;
  overflow: hidden;
  padding: 2px;
  object-fit: cover;
}
#projects .projects_info #icons_projects .main_photo_project.active {
  opacity: 1;
}
#projects .projects_info #icons_projects .main_photo_project img {
  max-width: 100%;
  height: auto;
}

.full_width {
  max-width: 100%;
  width: 100%;
}

.f_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1300px) {
  :root {
    --slider_width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  :root {
    --slider_width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --slider_width: 800px;
  }

  #projects .projects_info #main_carousel_projects {
    height: auto;
    min-height: 700px;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel {
    max-height: 100%;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item {
    max-width: var(--slider_width);
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item {
    flex-direction: column !important;
    height: auto;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_description {
    order: 1;
    min-height: 250px;
    height: auto;
    flex-grow: 1;
    min-width: 100%;
    width: 100%;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_description h4 {
    margin-top: 0;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_photo {
    order: 0;
    flex-grow: 1;
    height: 450px;
    min-height: 450px;
    min-width: 100%;
    width: 100%;
  }
  #projects .projects_info #icons_projects .main_photo_project {
    height: auto;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --slider_width: 550px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --slider_width: 450px;
  }

  #projects .projects_info #main_carousel_projects {
    min-height: auto;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_description {
    min-height: 300px;
  }
  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_photo {
    height: 300px;
    min-height: 300px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --slider_width: 400px;
  }

  #projects .projects_info #main_carousel_projects .owl-carousel .owl-item .slider_item .slider_description {
    min-height: 350px;
  }
}
@media only screen and (max-width: 420px) {
  :root {
    --slider_width: 360px;
  }
}

/*# sourceMappingURL=projects_style.css.map */
